<!-- app.html -->
<section id="app">
  <!-- Sidebar -->
  <div class="sidebar">
    <header>
      <a class="btn-back noselect" ng-click="back()">Back</a>
      <p>Browse</p>
    </header>

    <div class="paths">
      <a class="path noselect" ng-repeat="option in options" ng-class="{'active':option.active}" ng-click="navigate(option.path)">{{option.name}}</a>
    </div>

    <footer class="github">
      Powered by <a ng-click="openGithub()">Open<b>BMC</b> <i class="fa fa-github-alt"></i></a>
    </footer>
  </div>

  <!-- Main Content -->
  <div class="content">
    <!-- Topbar -->
    <div class="topbar">
      <form id="searchForm">
        <i class="fa fa-search"></i>
        <input type="text" name="search" ng-model="searchQuery" placeholder="Search..." />
      </form>

      <div class="metadata">
        <div class="left">
          <p class="connectedIP">{{ip}}</p>
          <p class="connectedUser">Logged in as <b>{{user}}</b></p>
        </div>

        <div class="right">
          <a ng-click="signout()"><i class="fa fa-sign-out"></i></a>
        </div>
      </div>
    </div>


    <!-- Breadcrumbs -->
    <p id="breadcrumbs"><i class="fa fa-home"></i> {{prettyPath}}</p>


    <!-- Content -->
    <div class="container">
      <div class="method" ng-repeat="method in methods">
        <a class="click-me" ng-click="toggleMethod(method)"><div class="title">
          <p><span>{{method.name}}</span>
          <span class="chevron">
            <i class="fa fa-chevron-down" ng-show="method.collapsed"></i>
            <i class="fa fa-chevron-up" ng-hide="method.collapsed"></i>
          </span></p>
        </div></a>
        <div class="body" ng-hide="method.collapsed">
          <!-- Parameters Block -->
          <!-- How can we hide parameters block? -->
          <div class="parameters" ng-hide="method.hideParams">
            <h3>Parameters</h3>
            <!-- <p ng-show="method.hideParams">There are no parameters for this method.</p> -->
            <div class="parameter" ng-repeat="parameter in method.parameters" ng-show="parameter.name">
              <p class="name">{{parameter.name}}</p>
              <div class="right">
                <p class="dataType">???</p>
                <input type="text" placeholder="31" />

              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!-- Response Block -->
          <div class="response">
            <h3>Response</h3>
            <div class="code">
              <pre>{{testJSON}}</pre>
              <button class="large-btn">Rerun</button>
            </div>
          </div>

          <!-- Curl Command -->
          <div class="curl">
            <h3>cURL</h3>
            <div class="code">
              <p>{{method.curl}}</p>
              <button class="small-btn" ng-show="method.curl.length <= 96" ng-click="copy(method.curl)">Copy</button>
              <button class="large-btn" ng-show="method.curl.length > 96" ng-click="copy(method.curl)">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
