<!-- app.html -->
<section id="app">
  <!-- Sidebar -->
  <div class="sidebar">
    <header>
      <a class="btn-back noselect" ng-click="back()">Back</a>
      <p>Browse</p>
    </header>

    <div class="paths">
      <a class="path noselect" ng-repeat="option in options" ng-class="{'active':option.active}" ng-click="navigate(option.path)">{{option.name}}</a>
    </div>

    <footer class="github">
      Powered by <a ng-click="openGithub()">Open<b>BMC</b> <i class="fa fa-github-alt"></i></a>
    </footer>
  </div>

  <!-- Main Content -->
  <div class="content">
    <!-- Topbar -->
    <div class="topbar">
      <form id="searchForm">
        <i class="fa fa-search"></i>
        <input type="text" name="search" ng-model="searchQuery" placeholder="Search... (Not Implemented)" />
      </form>

      <div class="metadata">
        <div class="left">
          <p class="connectedIP">{{ip}}</p>
          <p class="connectedUser">Logged in as <b>{{user}}</b></p>
        </div>

        <div class="right">
          <a ng-click="signout()"><i class="fa fa-sign-out"></i></a>
        </div>
      </div>
    </div>


    <!-- Breadcrumbs -->
    <p id="breadcrumbs"><i class="fa fa-home"></i> {{prettyPath}}</p>


    <!-- Content -->
    <div class="container">
      <div class="method" ng-repeat="method in methods">
        <a class="click-me" ng-click="toggleMethod(method)"><div class="title">
          <p><span>{{method.name}}</span>
          <span class="chevron">
            <i class="fa fa-chevron-down" ng-show="method.collapsed"></i>
            <i class="fa fa-chevron-up" ng-hide="method.collapsed"></i>
          </span></p>
        </div></a>
        <div class="body" ng-hide="method.collapsed">
          <!-- Parameters Block -->
          <!-- How can we hide parameters block? -->
          <div class="parameters" ng-hide="method.hideParams">
            <h3>Parameters</h3>
            <!-- <p ng-show="method.hideParams">There are no parameters for this method.</p> -->
            <div class="parameter" ng-repeat="parameter in method.parameters">
              <p class="name">{{parameter.type}}</p>
              <input type="text" value="{{parameter.value}}" ng-model="parameter.value" />
              <!-- <div class="right">

              </div> -->
              <div class="clear"></div>
            </div>
          </div>

          <!-- Response Block -->
          <div class="response" ng-class="{'full-width': method.hideParams}">
            <h3>Response</h3>
            <div class="code">
              <button class="run-btn" ng-hide="method.showResponse" ng-click="runMethod(method)">Run Method <i class="fa fa-play"></i></button>
              <pre ng-show="method.showResponse">{{method.response}}</pre>
              <button ng-show="method.showResponse" class="large-btn" ng-click="runMethod(method)">Rerun</button>
            </div>
          </div>

          <!-- Curl Command -->
          <div class="curl">
            <h3>cURL</h3>
            <div class="code">
              <p>{{method.curl}}</p>
              <!-- m['curl'] = 'curl -H "Content-Type: application/json" -X POST -d "{\\"data\\": [' + curlParams + ']}" http://' + $rootScope.ip + $scope.currentPath + '/action/' + m.name; -->
              <!-- curl -X POST -H "Content-Type:application/json" -d "{\"data\": [\"hello\"]}" http://9.41.164.53:20080/org/openbmc/examples/path0/SDBusObj/action/Echo -->
              <p>curl -X POST -H "Content-Type: application/json" <span ng-hide="method.hideParams">-d "{\"data\": [<span ng-repeat="parameter in method.parameters"><span ng-show="parameter.type == 'string'">\"</span>{{parameter.value}}<span ng-show="parameter.type == 'string'">\"</span><span ng-hide="$last">,</span></span>]}"</span> http://{{ip}}{{currentPath}}/action/{{method.name}}</p>
              <button class="small-btn" ng-show="method.curl.length <= 96" ng-click="copy(method.curl)">Copy</button>
              <button class="large-btn" ng-show="method.curl.length > 96" ng-click="copy(method.curl)">Copy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
