<!-- app.html -->
<section id="app">
  <!-- Sidebar -->
  <div class="sidebar">
    <header>
      <a class="btn-back noselect" ng-click="back()">Back</a>
      <p>{{lastPath}}</p>
    </header>

    <div class="paths">
      <a class="path noselect" ng-repeat="option in options|orderBy: 'name'" ng-class="{'active':option.active}" ng-click="navigate(option.path)">{{option.name}}</a>
    </div>

    <footer class="github">
      Powered by <a ng-click="openGithub()">Open<b>BMC</b> <i class="fa fa-github-alt"></i></a>
    </footer>
  </div>

  <!-- Main Content -->
  <div class="content">
    <!-- Topbar -->
    <div class="topbar">
      <form id="searchForm">
        <i class="fa fa-search"></i>
        <input type="text" name="search" ng-model="searchQuery" placeholder="Search... (Not Implemented)" />
      </form>

      <div class="metadata">
        <div class="left">
          <p class="connectedIP">{{ip}}</p>
          <p class="connectedUser">Logged in as <b>{{user}}</b></p>
        </div>

        <div class="right">
          <a ng-click="signout()"><i class="fa fa-sign-out"></i></a>
        </div>
      </div>
    </div>


    <!-- Breadcrumbs -->
    <p id="breadcrumbs"><i class="fa fa-home"></i> {{prettyPath}}</p>


    <!-- Content -->
    <div class="container">

      <!-- Methods -->
      <div class="method" ng-repeat="method in methods">
        <a class="click-me" ng-click="toggleMethod(method)"><div class="title">
          <p>
            <span>{{method.name}}</span>
            <span class="identifier method-identifier">Method</span>
            <span class="chevron">
              <i class="fa fa-chevron-down" ng-show="method.collapsed"></i>
              <i class="fa fa-chevron-up" ng-hide="method.collapsed"></i>
            </span>
          </p>
        </div></a>
        <div class="body" ng-hide="method.collapsed">


          <!-- Parameters Block -->
          <div class="parameters" ng-hide="method.hideParams">
            <h3>Parameters</h3>
            <div class="parameter" ng-repeat="parameter in method.parameters">
              <p class="name">{{parameter.type}}</p>
              <input type="text" value="{{parameter.value}}" ng-model="parameter.value" />
              <div class="clear"></div>
            </div>
          </div>


          <!-- Response Block -->
          <div class="response" ng-class="{'full-width': method.hideParams}">
            <h3>Response</h3>
            <div class="code">
              <button class="run-btn" ng-hide="method.showResponse" ng-click="runMethod(method)">Run Method <i class="fa fa-play"></i></button>
              <pre ng-show="method.showResponse">{{method.response}}</pre>
              <button ng-show="method.showResponse" class="large-btn" ng-click="runMethod(method)">Rerun</button>
            </div>
          </div>

          <!-- Curl Command -->
          <div class="curl">
            <h3>cURL</h3>
            <div class="code">
              <p id="curl-command">curl -X POST -H "Content-Type: application/json" <span ng-hide="method.hideParams">-d "{\"data\": [<span ng-repeat="parameter in method.parameters"><span ng-show="parameter.type == 'string'">\"</span>{{parameter.value}}<span ng-show="parameter.type == 'string'">\"</span><span ng-hide="$last">,</span></span>]}"</span> http://{{ip}}{{currentPath}}/action/{{method.name}}</p>
            </div>
          </div>
        </div>
      </div>


      <!-- Parameters -->
      <div class="method" ng-repeat="property in properties">
        <a class="click-me" ng-click="toggleMethod(property)"><div class="title">
          <p>
            <span>{{property.name}}</span>
            <span class="identifier property-identifier">Property</span>
            <span class="chevron">
              <i class="fa fa-chevron-down" ng-show="property.collapsed"></i>
              <i class="fa fa-chevron-up" ng-hide="property.collapsed"></i>
            </span>
          </p>
        </div></a>

        <div class="body" ng-hide="property.collapsed">
          <div class="curl">
            <div class="code">
              <pre>{{property.value}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
