<!-- app.html -->
<section id="app">
  <nav class="sidebar">
    <header>
      <a class="btn-back noselect" ng-click="back()">Back</a>
      <p>Browse</p>
    </header>

    <section class="paths">
      <div class="options">
        <a class="path noselect" ng-class="{'active':  option.active}" ng-repeat="option in options" ng-click="navigate(option.path)">{{option.name}}</a>
        <!-- <a class="path">dbus</a>
        <a class="path">object</a>
        <a class="path">watchdog</a> -->
      </data>
      <div class="github">Powered by <a ng-click="openGithub()">Open<b>BMC</b> <i class="fa fa-github-alt"></i>
</a></div>
    </section>
  </nav>

  <section class="mainContent">
    <section class="topbar">
      <form id="search">
        <i class="fa fa-search fa-lg"></i>
        <input type="text" placeholder="Search" />
      </form>

      <div class="serverInformation">
        <div class="leftCol">
          <p class="ipInfo">9.41.164.53:10080</p>
          <p class="userInfo">Logged in as <b>root</b></p>
        </div>

        <div class="rightCol">
          <a ng-click="signout()"><i class="fa fa-sign-out"></i></a>
        </div>
      </div>
    </section>

    <section class="contentArea">
      <!-- Make the breadcrumbs clickable when you have time! -->
      <p id="breadcrumbs"><i class="fa fa-home"></i> {{prettyPath}}</p>
    </section>
  </section>
</section>


<!-- <div>
  <h1>The Application</h1>
  <p>{{ message }}</p>

  <button ng-click="shrinkWindow()">Small</button>
</div> -->
